openapi: 3.1.0
info:
  title: Sysco Food Distribution Accounts Pricing API
  description: The Sysco Food Distribution API provides programmatic access to Sysco's food distribution platform for product ordering, catalog browsing, delivery tracking, account management, and supply chain integration. Available through the Sysco API Central developer portal, the API enables restaurants, food service operators, and partners to integrate with Sysco's distribution operations and ordering systems.
  version: '1.0'
  contact:
    url: https://apic-devportal.sysco.com/
servers:
- url: https://api.sysco.com
  description: Production
- url: https://api-stg.sysco.com
  description: Staging
security:
- bearerAuth: []
tags:
- name: Pricing
  description: Retrieve product pricing and contract pricing.
paths:
  /pricing:
    get:
      operationId: listPricing
      summary: List Pricing
      description: Retrieves contract pricing for products available to the customer account, including promotional pricing and volume discounts.
      tags:
      - Pricing
      parameters:
      - name: productId
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Pricing information returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingList'
components:
  schemas:
    ProductPrice:
      type: object
      properties:
        productId:
          type: string
        contractPrice:
          type: number
        listPrice:
          type: number
        currency:
          type: string
          default: USD
        effectiveDate:
          type: string
          format: date
        expirationDate:
          type: string
          format: date
    PricingList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProductPrice'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
